aside {
	margin: 13px 0 0;
	@include span-columns(3);

	.sidebar-wrapper {
		margin: 0 0 42px;

		h2 {
			margin: 0 0 16px;

			a {
				color: $gray;
			}

		} //h2

		> ul {
			border-top: 2px solid lighten($gray, 67%);	

			> li {
				border-bottom: 2px solid lighten($gray, 67%);
				padding: 11px 0;
			}

			.children {
				margin: 0 0 0 12px;

				li {
					margin: 6px 0;
				}
			}

		} //ul

		a {
			color: lighten($gray, 20%);

			&:hover {
				color: $primary-color;
			}
		} //a

	} //sidebar

	.widget_tag_cloud {
	
		a {
			background-color: $primary-color;
			color: $white;
			display: inline-block;
			padding: 4px 9px;

			&:hover {
				background-color: darken($primary-color, 12%);
				color: $white;
			}
		}

	} //.widget_tag_cloud

} //aside

.widget_nav_menu {

	.menu-header-container {

		> ul {
			border-top: 2px solid lighten($gray, 67%);	

			> li {
				border-bottom: 2px solid lighten($gray, 67%);
				padding: 11px 0;
			}

			.sub-menu {
				margin: 0 0 0 12px !important;

				li {
					margin: 6px 0;
				}

			} //.children

		} //ul

	} //.menu-header-container

} //.widget_nav_menu

.widget_calendar {
	border-bottom: 2px solid lighten($gray, 67%);

	table {
		width: 100%;

		caption {
			border-top: 2px solid lighten($gray, 67%);
			padding: 21px 0 11px;
		}

		th {
			padding: 4px;
			text-align: center;

		}

		td {
			padding: 4px;
			text-align: center;
		}

	} //table

} //.widget_calendar

.widget_search {

	form {
		position: relative;

		input[type="text"] {
			padding: 0 42px 0 12px;
		}

		input[type="submit"] {
			background: url('../img/global/img-search.png') transparent no-repeat;
			border: 0;
			height: 20px;
			position: absolute;
			right: 12px;
			text-indent: -9999px;
			top: 14px;
			width: 20px;

			&:hover {
				cursor: pointer;
			}
		} //input[type="submit"]

	} //form

} //.widget_search
